BODY
{
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}

.tableinfo
{
    BORDER-RIGHT: #003399 1px solid;
    BORDER-TOP: #003399 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BORDER-LEFT: #003399 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #003399 1px solid;
    BACKGROUND-COLOR: #E7E7EF
}
.tit
{
    FONT-WEIGHT: bold;
    COLOR: #003399;
    FONT-SIZE: 18px;
}
.txtdis
{
    FONT-FAMILY: 'Courier New';
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #000000;
	TEXT-DECORATION: none;
}
.txtdis:hover
{
    TEXT-DECORATION: underline
}
.txtin
{
    FONT-FAMILY: 'Courier New';
    FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	COLOR: #000000
}
.txtout
{
    FONT-FAMILY: 'Courier New';
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px
}
.txterror
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #ff3300
}

.helptit
{
    FONT-WEIGHT: bold;
    COLOR: #003399;
    FONT-SIZE: 18px;
}
.helpsubtit
{
    FONT-WEIGHT: bold;
    COLOR: #003399;
    FONT-SIZE: 14px;
}
.helptxt
{
    FONT-SIZE: 11px;
    COLOR: #000000
}
.helptxtbold
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000
}
.helplabel
{
	FONT-FAMILY: 'Courier New';
    FONT-SIZE: 11px;
    COLOR: #000000
}
A.helplink
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.helplink:hover
{
    TEXT-DECORATION: underline
}
